<section>
        <h2>Get in touch</h2>
        <form action="//formspree.io/eben@crosstie.io" method="POST">
          <div class="field half first">
            <input type="text" name="name" id="demo-name" value="" placeholder="Name" />
          </div>
          <div class="field half">
            <input type="email" name="_replyto" id="demo-email" value="" placeholder="Email" />
          </div>
          <div class="field">
            <textarea name="message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send" class="special" /></li>
          </ul>
        </form>
      </section>