<!-- Menu -->
  <nav id="menu">
    <h2>Menu</h2>
    <ul>
      <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
      <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
      <li><a href="{{ "/notes" | prepend: site.baseurl }}">Notes</a></li>
      <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
    <!--  <li><a href="{{ "/generic.html" | prepend: site.baseurl }}">Generic</a></li>
      <li><a href="{{ "/elements" | prepend: site.baseurl }}">Elements</a></li> -->
    </ul>
  </nav>
